<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veronika</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body class="fixed">
    <div id="toponly"></div>
    <header id="header" class="preload">
        <h1>Learning English together</h1>
        <div id="topline" class="preload"></div>
        <ul>
            <li>
                <a href="#">Порфолiо</a>
            </li>
            <li>
                <a href="#">Новини</a>
            </li>
            <li>
                <a href="#">Батькам</a>
            </li>
            <li>
                <a href="#">Дітям</a>
            </li>
            <li>
                <a href="#">Корисні ресурси</a>
            </li>
            <li>
                <a href="#">ЗНО</a>
            </li>
            <li>
                <a href="#">Контакти</a>
            </li>
        </ul>
    </header>
    <div class="firstBlock">
        <div>
            <img src="../img/vernikaApreviewimg.jpeg" alt="">
            <h2><img src="../img/Heart.svg" alt="">It's simple, the best way  to learn or practice a language is through fun</h2>
        </div>
        <div class="messageBox">
            <div class="message">
                <p>Ласкаво прошу на сайт вчителя англійської мови Одеської загальноосвітньої школи №56 Бондаренко Вероніки Андріївни!</p>
            </div>
        </div>
    </div>
    <div class="secondBlock">
        <div class="info-list">
            <div>
                <img src="../img/cappng.svg" alt="">
                <h2>Про сайт</h2>
                <p>На цьому сайті розміщені матеріали для учнів, їхніх батьків та вчителів, поради щодо здачі ЗНО та ДПА.</p>
            </div>
            <div>
                <img src="../img/pencilpng.svg" alt="">
                <h2>Інформація</h2>
                <p>З колегами я ділюся досвідом своєї роботи (робочі програми , завдання).</p>
            </div>
            <div>
                <img src="../img/smilepng.svg" alt="">
                <h2>Фотографії</h2>
                <p>На моему сайті ви завжди можете подивитись веселі фото з учнями.</p>
            </div>
            <div>
                <img src="../img/bookpng.svg" alt="">
                <h2>Перевірте себе</h2>
                <p>На сайті Ви можете розширити свої знання, продивившись деякі завдання.</p>
            </div>
        </div>
        <div class="profile">
            <div>
                <h2>Портфолио</h2>
                <div></div>
                <p class="marginfix">Я, Бондаренко Вероніка Андріївна, народилася 29 листопада 1992 р. в місті Одесі. </p>
                <p>З 1999 р. навчалася в середній школі №92 м.Одеси. </p>
                <p>З 2001 р. навчалася в середній школі №56 м.Одеси.</p>
                <p>З 2009 р. навчалася в Одеському національному університеті ім. І.І. Мечникова на факультеті романо-германської філології, денної форми навчання.</p>
                <p>У 2013 році отримала базову вищу освіту за напрямом підготовки “Філологія” та здобула кваліфікацію бакалавра у філології.</p>
            </div>
            <div>
                <img src="../img/veronikasecimagehome.svg" alt="">
                <p>“Teachers open the door, but you must enter by yourself.”</p>
                <p>Chinese proverb</p>
            </div>
        </div>
    </div>
    <footer>
        <div>
            <h2>Learning English together</h2>
            <p>Сайт вчителя англійської мови Одеської загальноосвітньої школи №56 Бондаренко Вероніки Андріївни</p>
        </div>
        <ul>
            <li>Послуги</li>
            <li><a href="#">Портфоліо</a></li>
            <li><a href="#">Новини</a></li>
            <li><a href="#">Батькам</a></li>
            <li><a href="#">Дітям</a></li>
            <li><a href="#">Корисні ресурси</a></li>
            <li><a href="#">ЗНО</a></li>
        </ul>
        <ul>
            <li>Контакты</li>
            <li><a href="#"><img src="../img/Instagram.svg" alt="">@nika_gu29</a></li>
            <li><a href="#">+380 (63) 451 84 12</a></li>
        </ul>
        <a href="#" class="poweredby">© 2021 Powered by WebDest Studio</a>
        <a href="https://www.instagram.com/nastasya_jackson/" class="poweredby">© 2021 Designed by nastasya_jackson</a>
    </footer>
</body>
<script src="../js/onloadanimation.js"></script>
</html>